body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 1200%;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    z-index: -1;
    animation: rotateBackground 30s linear infinite;
}

.content {
    position: relative;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

@keyframes rotateBackground {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
